<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
<title>다하다</title>
<link rel="stylesheet" href="/css/common.css">
<style>
    html, body { height: 100%; }
</style>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/script.js"></script>
</head>
<body>
    
<section class="intro">
    <div class="phone-area">
        <div class="pos">
            <img src="/img/img_logo3.png" alt="다하다" class="img-logo">
            <div class="intro-conts">언제 어디서나 다해주는<br><span>당신을 위한 대행서비스</span></div>
            <a href="#" class="btn-start">시작하기</a>
        </div>
        
        <div class="copyright">COPYRIGHT DAHADA INC</div>
    </div>
</section>

</body>
</html>