<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
<title>다하다</title>
<link rel="stylesheet" href="/css/common.css">
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/script.js"></script>
</head>
<body>
    
<header class="header">
    <div class="hd">
        <a href="#"><img src="/img/img_logo1.png" alt="다하다" class="hd-logo"></a>
        
        <ul class="hd-nav">
            <li><a href="#">마이페이지</a></li>
            <li><a href="#">로그인</a></li>
            <li><a href="service.html">서비스</a></li>
            <li class="active"><a href="#">다하다와 함께하기</a></li>
        </ul>
    </div>
    
    <input type="button" value=" " class="btn-hamburger">
</header>

<ul class="quick-menu">
    <li><a href="#"><img src="/img/ico_sns1.png" alt="네이버"></a></li>
    <li><a href="#"><img src="/img/ico_sns2.png" alt="카카오톡"></a></li>
    <li><a href="#"><img src="/img/ico_chat1.png" alt="채팅"></a></li>
</ul>

<section class="reserve step-v7">
    <div class="service-info2">
        <div class="pos">
            <div class="service-theme">가전케어 서비스</div>

            <div class="service-status2">
                <div>
                    <div class="status-num">53,562</div>
                    <div class="tit-status">누적 이용자</div>
                </div>
                
                <span class="division-line"></span>

                <div>
                    <div class="status-num">213</div>
                    <div class="tit-status">등록파트너스</div>
                </div>
                
                <span class="division-line"></span>

                <div>
                    <div class="status-num">12,552</div>
                    <div class="tit-status">리뷰 수</div>
                </div>
                
                <span class="division-line"></span>

                <div>
                    <div class="status-num">6.5h</div>
                    <div class="tit-status">평균 서비스 시간</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="reserve-area">
        <div class="wrap wrap-v1">
            <div class="tit-area tit-area-v1">
                <div class="tit-sub">고객님께서 선택하신 파트너스입니다.</div>
                <div class="tit-sub-conts">다하다의 파트너스가 고객님께 최상의 만족을 드리겠습니다.</div>
            </div>

            <div class="progress-area">
                <div class="progress-percent">80%</div>

                <div class="bar-progress">
                    <div class="progress-fill" style="width: 80%;"></div>
                </div>
            </div>
            
            <div class="box-reserve">
                <div class="inner">
                    <div class="bnr-engineer">
                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/bnr_engineer1.png');">
                        <div class="engineer-intro">최고가 되기 위해<br>최선을 다하고 있습니다.<br>믿고 맡겨주세요!</div>
                    </div>

                    <div class="engineer-info2">
                        <div class="engineer-profile2">
                            <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_profile3.png');">

                            <div class="engineer-detail">
                                <div class="engineer-name">김기사</div>
                                <ol class="engineer-hashtag">
                                    <li>#에어컨 전문가</li>
                                    <li>#신속·정확</li>
                                    <li>#10년이상 베테랑</li>
                                </ol>
                                <div class="engineer-intro">안녕하세요! 다하다 김기사입니다. 저의 경력과 인사말이 노출됩니다.<br>최선을 다해 고객님께 만족을 드릴 수 있도록 노력하겠습니다.</div>

                                <ol class="service-point">
                                    <li>
                                        <span class="tit-service">친절함</span>
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                    </li>

                                    <li>
                                        <span class="tit-service">가격</span>
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                    </li>

                                    <li>
                                        <span class="tit-service">만족도</span>
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                        <img src="/img/ico_star1.png" alt="별점" class="ico-star">
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <ul class="engineer-board">
                        <li>
                            <div class="tit-area2">
                                <div class="board-name">작업내역<span class="board-count">6</span></div>
                                <a href="#" class="btn-more">+MORE</a>
                            </div>

                            <ul class="work-history-board">
                                <li>
                                    <a href="#">
                                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_picture1.png');">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_picture2.png');">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_picture3.png');">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_picture1.png');">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_picture2.png');">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_picture3.png');">
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="tit-area2">
                                <div class="board-name">고객후기<span class="board-count">8</span></div>
                                <a href="#" class="btn-more">+MORE</a>
                            </div>

                            <ul class="photo-review-board">
                                <li>
                                    <a href="#">
                                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_picture4.png');">

                                        <div class="photo-review-info">
                                            <div class="tit-photo-review">
                                                <img src="/img/ico_arrow_right1.png" alt="화살표">고객님께서 남겨주신 후기가 텍스트로 노출됩니다.
                                            </div>

                                            <span class="photo-review-writer">박**님</span>
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">

                                            <span class="division-line">ㅣ</span>

                                            <span class="photo-review-date">2021-03-24</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_picture4.png');">

                                        <div class="photo-review-info">
                                            <div class="tit-photo-review">
                                                <img src="/img/ico_arrow_right1.png" alt="화살표">고객님께서 남겨주신 후기가 텍스트로 노출됩니다.
                                            </div>

                                            <span class="photo-review-writer">정**님</span>
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">

                                            <span class="division-line">ㅣ</span>

                                            <span class="photo-review-date">2021-03-24</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/img/img_transparent1.png" alt="썸네일" class="thumb" style="background-image: url('/img/img_picture4.png');">

                                        <div class="photo-review-info">
                                            <div class="tit-photo-review">
                                                <img src="/img/ico_arrow_right1.png" alt="화살표">고객님께서 남겨주신 후기가 텍스트로 노출됩니다.
                                            </div>

                                            <span class="photo-review-writer">우**님</span>
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">
                                            <img src="/img/ico_star2.png" alt="별점" class="ico-star">

                                            <span class="division-line">ㅣ</span>

                                            <span class="photo-review-date">2021-03-24</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="btns">
                <input type="submit" value="이전 단계" class="btn btn-basic btn-basic-v1" onclick="location.href='reserve6.html'">
                <input type="submit" value="다음 단계" class="btn btn-basic" onclick="location.href='reserve8.html'">
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="ft">
        <div class="ft-nav">
            <img src="/img/img_logo2.png" alt="다하다" class="ft-logo">

            <ul class="ft-util">
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">오시는길</a></li>
                <li><a href="#">서비스안내</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </div>

        <div class="ft-info">
            <div class="company-info">대표자 김용욱<span>ㅣ</span>주소 : 경기도 김포시 하성면 월하로778번길 36, 2층<br>사업자 등록 번호 : 326-88-01078<span>ㅣ</span>대표전화 1899-8053<span>ㅣ</span>fax 02-6716-1982</div>
            <div class="copyright">COPYRIGHT DAHADA ALLRIGHT RESERVED.</div>
        </div>
    </div>
</footer>

</body>
</html>